<% breadcrumb ["Bateaux", vessels_path], [@vessel.name, vessel_path(@vessel)], ["Nouveau compte"] %>

<div class="page-header">
  <h1>Ajouter un compte mail</h1>
</div>

<%= render "mail_accounts/form", mail_account: @mail_account %>
