<% breadcrumb ["Bateaux", vessels_path], [@vessel.name, vessel_path(@vessel)], [@mail_account.name, mail_account_path(@mail_account)], ["Modifier"] %>

<div class="page-header">
  <h1>Modifier <%= @mail_account.name %></h1>
</div>

<%= render "form", mail_account: @mail_account %>
